

h1{

    color: #2C3E50;
}
.titLocal{

    padding-top: 3%;
    color: #2C3E50;
}



/* termina menu*/

/* começa container*/


/* termina container*/
/* começa conteudo*/

iframe {
    margin-bottom: 10%;
    margin-top: 5%;
}

@media (max-width: 800px) {
    iframe {
        height: 20%;
        width: 100%;
    }
}
/* termina conteudo*/
/* começa rodapé*/


